/* Import the 'Figtree' font */
@font-face {
	font-family: 'Figtree';
	src: url('/assets/fonts/static/Figtree-Medium.ttf');
}

@font-face {
	font-family: 'Figtree';
	src: url('/assets/fonts/static/Figtree-ExtraBold.ttf');
	font-weight: bold;
}

/* Important variables */

:root {
	--primary-grey: hsl(0, 0%, 7%);
	--secondary-grey: hsl(0, 0%, 42%);
	--color-ylw: hsl(47, 88%, 63%);
	--ft-size: 16px;
}

/* Setting default stuffs */

* {
	font-family: 'Figtree';
	color: var(--primary-grey);
}

/* Utilizing Flexbox to help organize the page */
body {
	background-color: var(--color-ylw);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
	overflow-y: hidden;
}
/* Border radiuses */
.container,
.img,
.tag {
	border-radius: 10px;
}

/* Color & font situation */
h1,
.author p,
.tag {
	font-weight: bold;
	color: var(--primary-grey);
}
p {
	color: var(--secondary-grey);
	font-size: var(--ft-size);
}
/* The card */

.container {
	background-color: white;
	border: 1px solid var(--primary-grey);
	max-width: 25rem;
	padding: 20px;
	box-shadow: 5px 5px var(--primary-grey);
}
.img {
	width: 100%;
}
/* Keeps the author's pfp and name on the same line */
.author {
	display: flex;
	align-items: center;
}
.author-img {
	width: 40px;
	margin-right: 10px;
}

/* Making the 'Learning' tag */

.tag {
	display: block;
	margin-top: 15px;
	background-color: var(--color-ylw);
	padding: 8px;
	max-width: 4rem;
	border-radius: 5px !important;
}

footer {
	margin-top: 10px;
}

/* Hover effect */
h1:hover {
	color:var(--color-ylw);
	cursor:pointer;
}
